.task-modal {
  position: relative;
  z-index: 1002;
  margin-right: auto;
  margin-left: auto;
  top: 20%;
  width: 350px;
  height: auto;
  height: auto;
  background-color: #fff;
  outline: none; /* for disapearing modal black border*/
}

.task-overlay {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(196, 196, 196, $alpha: 0.5);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-close-btn {
  background-color: transparent;
  padding: 0%;

  outline: none; /* for disapearing modal black border*/
}

.kavano-add-btn {
  outline: none;
  position: relative;
  left: 20px;
  top: 20px;
  width: 129px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e3eb;
  border-radius: 20px;
  background-color: #f2f3f7;
  background-image: url("https://uploads-ssl.webflow.com/5fa6539de1f11567b7272ea6/6076aa97b0bf647e82c7fbd2_Group%201.svg");
  background-position: 15% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: -3px -3px 8px 0 #fff, 3px 14px 20px 10px #d9e0ed;
  color: #838592;
  font-size: 13px;
  font-weight: 700;
  text-align: right;

  /*
    .w-button {
      display: inline-block;
      padding: 9px 15px;
      background-color: #3898ec;
      color: white;
      border: 0;
      line-height: inherit;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0;
    }
  
    input.w-button {
      -webkit-appearance: button;
    }*/
}
