.kavano-tasks-box {
  position: relative;
  left: 0%;
  top: 5%;
  right: auto;
  bottom: 0%;
  width: 85%;
  height: 80%;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  border-radius: 45px;
  background-color: #f2f3f7;
  box-shadow: -3px -3px 8px 0 #fff, 8px 8px 20px 10px #d9dfef;


  .kavano-task-txt-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: -25px;
    margin-left: 30px;

    .kavano-task-title-sub-container {
      padding-left: 10px;

      .kavano-task-title {
        font-family: Roboto, sans-serif;
        color: #838592;
        font-weight: 700;
      }

      .kavano-task-sub {
        font-family: Roboto, sans-serif;
        color: #9294a3;
        font-size: 12px;
      }
    }
  }
}
