.kavano-sidebar {
  width: 25vw;
  border-right: 2px solid #e1e1e9;
  border-radius: 20px 0px 0px 20px;
  background-color: #f6f7fb;

  .kavano-tasks {
    height: 68%;
    background-color: transparent;
  }
}
